body {
  color: #333333;
  background: url("./images/bgarena.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: monospace;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

button {
  border: 1px solid #e4e4e4;
  background-color: #333333;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  width: 100px;
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid #333333;
  color: #333333;
}

.header,
footer,
p {
  text-align: center;
}

footer {
  color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 700px;
  margin: auto;
}

.content {
  flex-grow: 1;
}

.arena,
.stats {
  visibility: hidden;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.stats div {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #333333;
  background: url(./images/bgstats.jpg);
}

.champion-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.champion-item {
  margin: 1rem;
  cursor: pointer;
}

.arena img {
  width: 100%;
  border: 1px solid #333333;
}
