@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
body {
  font-family: "Play", sans-serif;
  font-size: 0.9rem;
  color: #333333;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url("./images/bgarena.jpg");
  background-size: cover;
}

* {
  box-sizing: border-box;
}

header,
footer,
p {
  text-align: center;
}

h1,
.header-action {
  text-shadow: 1px 2px 6px white;
  margin: 0;
}

footer {
  color: white;
}

/* ************************** */
/* START CHAMPION SELECT MENU */
/* ************************** */
.champion-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.champion-item {
  position: relative;
  margin: 1rem;
  cursor: pointer;
}

.champion-name {
  position: absolute;
  top: 75%;
  left: 25%;
  text-align: center;
  background-color: #f4f4f4;
  transform: rotate(-10deg);
}

.champion-image {
  width: 100px;
  border-radius: 3rem;
  border: 1px solid #333333;
  opacity: 0.5;
}

.champion-image:hover {
  opacity: 1;
  transition: 0.5s ease;
  transform: scale(1.1);
}

/* ******* */
/* BUTTONS */
/* ******* */
.btn-attack,
.btn-start,
.btn-defend,
.btn-special {
  color: white;
  border: 1px solid white;
  background-color: #333333;
  padding: 1rem;
  width: 100px;
  outline: none;
  text-transform: uppercase;
}

.btn-attack:hover,
.btn-start:hover,
.btn-defend:hover,
.btn-special:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid #333333;
  color: #333333;
}

.btn-restart {
  color: white;
  background-color: brown;
  border: 1px solid white;
  padding: 1rem;
  width: 100px;
  outline: none;
  text-transform: uppercase;
}

.btn-restart:hover {
  cursor: pointer;
  color: brown;
  background-color: white;
  border: 1px solid brown;
}

/* ********* */
/* CONTAINER */
/* ********* */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 700px;
  margin: auto;
}

.content {
  flex-grow: 1;
}

/* ***** */
/* ARENA */
/* ***** */
.arena img {
  width: 100%;
  border: 1px solid #333333;
}

.arena,
.stats {
  visibility: hidden;
}

/* ***** */
/* STATS */
/* ***** */
.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.stats .score-wrapper,
.stats .player-stats,
.stats .enemy-stats {
  text-align: center;
  position: relative;
  margin-top: 0.5rem;
  padding: 1rem;
  border: 1px solid #333333;
  background: url(./images/bgstats.jpg);
}

.player-avatar {
  position: absolute;
  width: 150px;
  top: -250px;
  left: 30px;
}

.enemy-avatar {
  position: absolute;
  top: -250px;
  left: -30px;
}

.enemy-icon,
.player-icon {
  width: 100px;
  border-radius: 3rem;
}

.score-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 50%;
}
.score-content {
  flex-grow: 1;
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 0.8rem;
  text-align: center;
  position: relative;
}

progress:before {
  content: attr(data-lable);
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  color: white;
}

.player-health::-webkit-progress-value,
.enemy-health::-webkit-progress-value {
  background: brown;
}
.player-mana::-webkit-progress-value,
.enemy-mana::-webkit-progress-value {
  background: orange;
}
.player-strength::-webkit-progress-value,
.enemy-strength::-webkit-progress-value {
  background: cadetblue;
}

/* ********* */
/* ANIMATION */
/* ********* */
.shake {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
